@using nauteck.data.Dto.Invoice
@model InvoiceDto;

<div class="modal" id="modal-invoice-line" tabindex="-1">
    @using (Html.BeginForm("SaveOrUpdateLine", "Invoice", null, FormMethod.Post, antiforgery: true, htmlAttributes: new { id = "form-invoice-line" }))
    {
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Factuur Regel</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: grid; grid-template-columns: 1fr 1fr 1fr 4fr; gap: 1rem;">
                    <div>
                        <label class="form-label fw-bold" for="Aantal_0">Aantal</label>
                        <input class="form-control" id="Aantal_0" name="Quantity" step="0.01" type="number" />
                    </div>

                    <div>
                        <label class="form-label fw-bold" for="Bedrag_0">Bedrag</label>
                        <input class="form-control" id="Bedrag_0" name="Amount" step="0.01" type="number" />
                    </div>
                    <div>
                        <label class="form-label fw-bold" for="Btw_0">BTW</label>
                        <select class="form-select" id="Btw_0" name="Tax">
                            <option value="0.00">0%</option>
                            <option value="9.00">9%</option>
                            <option selected value="21.00">21%</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label fw-bold" for="Omschrijving_0">Omschrijving</label>
                        <input class="form-control" id="Omschrijving_0" name="Description" placeholder="Omschrijving" type="text" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i>&nbsp;Opslaan</button>
                </div>
            </div>
        </div>
        <input name="Id" type="hidden" />
        <input name="InvoiceId" type="hidden" value="@Model.Id" />
    }
</div>