<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Nauteck Flooring</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="description" content="Nauteck Flooring">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/nauteck.web.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&amp;amp;display=swap">
</head>
<body class="bg-light">
    <main class="p-3 vertical-align" style="height: 100vh;">
        <div class="container-sm">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/datatables/dataTables.min.js"></script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        @(await RenderSectionAsync("Scripts", required: false))
    }

</body>
</html>