@{
    Layout = "_Login";
}

<main class="p-5" style="width: 100%; max-width: 640px; margin: auto;">
    <div>
        @using (Html.BeginForm("Login", "Account", default, FormMethod.Post, antiforgery: true, htmlAttributes: new { id = "form-login" }))
        {

            <h3 class="mb-3 fw-bold">
                <img class="img-fluid" src="~/images/nauteck_liggend-1.svg" alt="" style="max-width: 100%;" title="Nauteck Flooring">
            </h3>
            <div class="m-1">
                <input autocomplete="email" class="form-control valid" name="User" placeholder="who@are.you" title="Email adres" type="email" value="" aria-invalid="false">
            </div>
            <div class="m-1">
                <input autocomplete="current-password" class="form-control" name="Password" placeholder="wachtwoord" title="Wachtwoord" type="password" value="">
            </div>
            <button class="w-100 btn btn-lg btn-dark mt-2" autofocus type="submit">Sign in</button>
            <p class="mt-3 text-secondary"><strong>&copy; 2025 Cloud4U</strong></p>
        }
    </div>
</main>

@section Scripts {
    <script src="js/account/login.js" asp-append-version="true"></script>
}