@using MediatR
@inject IMediator Mediator;

@{
    var constructions = await Mediator.Send(new nauteck.core.Features.Floor.FloorConstructionQuery());
}

@model nauteck.data.Entities.Order.FloorOrderPart?

<label class="text-muted small" for="Parts.construction">Construction</label>&nbsp;<span class="text-danger">*</span>
<select class="form-select form-select-sm" id="Parts.construction" name="Parts.construction">
    <option value=""></option>
    @foreach (var construction in constructions)
    {
        <option data-price="@construction.Price" selected="@(construction.Description.Equals(Model?.Construction, StringComparison.InvariantCultureIgnoreCase))" value="@construction.Description">@construction.Description</option>
    }
</select>