@using MediatR
@inject IMediator Mediator;

@model nauteck.data.Entities.Order.FloorOrderPart?

@{
    var floors = await Mediator.Send(new nauteck.core.Features.Floor.FloorQuery());    
}

<label class="text-muted small" for="Parts.Floor">Floor</label>
<select class="form-select form-select-sm" id="Parts.Floor" name="Parts.Floor" title="Floor">
    <option data-price="0.00" value=""></option>
    @foreach (var floor in floors.Where(f=>f.Active))
    {
        <option selected="@(Model?.Floor.Equals(floor.Description, StringComparison.InvariantCultureIgnoreCase))" data-price="@floor.Price" value="@floor.Id">@floor.Description</option>
    }
</select>