@model nauteck.data.Entities.Order.FloorOrder

@using MediatR
@using nauteck.core.Features.Floor
@inject IMediator Mediator;

@{
    var logos = await Mediator.Send(new FloorLogoQuery());
}


<div class="row mt-2">
    <div class="col"><label class="small">Logo</label></div>
    <div class="col text-end"><label class="small">Price</label></div>
    <div class="col text-end"><label class="small">Quantity</label></div>
    <div class="col text-end"><label class="small">Total</label></div>
</div>

@foreach (var logo in logos.Where(l => l.Active))
{
    <div class="row mt-1">
        <div class="col small"><span class="text-muted">@logo.Description</span></div>
        <div class="col small"><span class="text-muted float-end">@logo.Price</span></div>
        <div class="col small">
            <div class="float-end"><input class="form-control form-control-sm text-end" data-id=@logo.Id data-description=@logo.Description data-price=@logo.Price data-quantity="0" data-type="logo-quantity" type="number" min="0" step="1" value="" style="width: 75px"></div></div>
        <div class="col small"><span class="text-muted float-end" data-sum="@logo.Id">0.00</span></div>
    </div>
}