<div class="card w-100">
    <div class="card-header">
        <i class="bi bi-telegram"></i>&nbsp;Status
    </div>
    <div class="card-body">
        <div class="row">


            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_0" name="status" value="Proforma opdracht">
                    <label class="form-check-label" for="status_0">Proforma opdracht</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_1" name="status" value="Definitieve opdracht" checked="checked">
                    <label class="form-check-label" for="status_1">Definitieve opdracht</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_2" name="status" value="Betaald">
                    <label class="form-check-label" for="status_2">Betaald</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_3" name="status" value="Inmeten gepland">
                    <label class="form-check-label" for="status_3">Inmeten gepland</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_4" name="status" value="Definitief design">
                    <label class="form-check-label" for="status_4">Definitief design</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_5" name="status" value="Montage gepland">
                    <label class="form-check-label" for="status_5">Montage gepland</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_6" name="status" value="Afgerond">
                    <label class="form-check-label" for="status_6">Afgerond</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_7" name="status" value="In produktie">
                    <label class="form-check-label" for="status_7">In produktie</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="status_8" name="status" value="Geannuleerd">
                    <label class="form-check-label" for="status_8">Geannuleerd</label>
                </div>
            </div>

        </div>
    </div>
</div>