<div class="card w-100">
    <div class="card-header">
        <i class="bi bi-file-earmark-text"></i>&nbsp;Order Summary
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col small">Nauteck Floor</div>
            <div class="col small"><span class="text-muted float-end" data-type="floor-price">1855.00</span></div>
        </div>
        <div class="row">
            <div class="col text-muted small"><span data-type="floor">Standaard design</span></div>
            <div class="col text-muted"><small data-type="floor-total">7.00 m2 * 265.00</small></div>
        </div>

        <div class="row">
            <div class="col small">Color Above</div>
            <div class="col small">Color Below</div>
            <div class="col">&nbsp;</div>
            <div class="col small"><span class="text-muted float-end" data-type="color-price">0.00</span></div>
        </div>
        <div class="row">
            <div class="col text-muted"><small class="" data-type="color-above">Medium grijs</small></div>
            <div class="col text-muted"><small class="" data-type="color-below">Zwart</small></div>
            <div class="col text-muted small"><span data-type="color" class="text-danger"></span></div>
            <div class="col">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col small">Design</div>
            <div class="col small"><span class="text-muted float-end" data-type="design-price">0.00</span></div>
        </div>
        <div class="row">
            <div class="col"><small class="text-muted" data-type="design">Strepen 50mm</small></div>
        </div>

        <div class="row">
            <div class="col small">Logo</div>
            <div class="col small"><span class="text-muted float-end" data-type="logo-price">0.00</span></div>
        </div>
        <div class="row">
            <div class="col"><small class="text-muted" data-type="logo"></small></div>
        </div>

        <div class="row">
            <div class="col small">Measurement</div>
            <div class="col small"><span class="text-muted float-end" data-type="measurement-price">185.00</span></div>
        </div>
        <div class="row">
            <div class="col"><small class="text-muted" data-type="measurement">Inmeten 05m2 - 10m2</small></div>
        </div>

        <div class="row">
            <div class="col small">CallOut Cost</div>
            <div class="col small"><span class="text-muted float-end" data-type="call-out-cost-price">288.00</span></div>
        </div>
        <div class="row">
            <div class="col"><small class="text-muted" data-type="call-out-cost">360.0 * 0.80 per km</small></div>
        </div>

        <div class="row">
            <div class="col small">Construction</div>
            <div class="col small"><span class="text-muted float-end" data-type="construction-price">185.00</span></div>
        </div>
        <div class="row mb-1">
            <div class="col"><small class="text-muted" data-type="construction">Egale vloer 05M2 - 10M2, inclusief ontvetten en primer</small></div>
        </div>

        <div class="row">
            <div class="col small">Other</div>
            <div class="col small"><span class="text-muted float-end" data-type="other-price">0.00</span></div>
        </div>
        <div class="row mb-1">
            <div class="col"><small class="text-muted" data-type="other"></small></div>
        </div>


        <div class="row mb-1" discount="">
            <div class="col fw-bold small">Subtotal excluding VAT</div>
            <div class="col small"><span class="text-muted float-end fw-bold" data-type="subtotal-price">2513.00</span></div>
        </div>

        <div class="row bg-light" discount="">
            <div class="col fw-bold text-success small">Discount</div>
            <div class="col small"><span class="float-end fw-bold text-success" data-type="discount-price">- 371.00</span></div>
        </div>


        <div class="row">
            <div class="col fw-bold small">Total excluding VAT</div>
            <div class="col small"><span class="text-muted float-end fw-bold" data-type="floor-order-total">2142.00</span></div>
        </div>
    </div>
</div>